<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.webservice.mapper.filemapper">

 <select id="getlistfile" resultType="org.webservice.domain.attachfile">
  	select * from pro_file where bno=#{bno}
 </select>
 <insert id="insertfile">
 	insert into pro_file (uuid, uploadPath, fileName, bno, image) 
 	values(#{uuid},#{uploadPath},#{fileName},#{bno},#{image})
 </insert>
 <delete id="deletefile">
 	delete from pro_file where uuid=#{uuid}
 </delete>
 <delete id="deleteallfile">
 	delete from pro_file where bno=#{bno}
 </delete>
 
 <select id="getoldfile" resultType="org.webservice.domain.attachfile">
 	select * from pro_file where uploadpath=to_char(sysdate-1,'yyyy/mm/dd')
 </select>
</mapper>